{
	"presets": ["env", "es2015", "react"],
	"plugins": [
		"emotion",
		["import", {libraryName: "antd", style: "css"}]
	],
	"env": {
		"production": {
			"plugins": [
				"babel-plugin-jsx-remove-data-test-id"
			]
		}
	}
}
